@{
    ViewBag.Title = "Home Page";
}

@model purrfect_blog_starter_1757957984.Models.LoginViewModel
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <p class="lead"></p>
    </section>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card shadow-sm p-4">
                <h3 class="card-title mb-3 text-center">Welcome Back Meow</h3>

                <a href="/Account/Login" class="btn w-15 mb-3">Sign in</a>
                <a href="/Account/Register" class="btn w-15 mb-3">Register</a>


            </div>
        </div>
    </div>
</main>