@{
    ViewBag.Title = "Post Deleted";
}
<div class="mt-4">
    <div class="alert alert-warning">
        <h4 class="alert-heading">Sorry!</h4>
        <p>This post has been deleted and no longer exists. :(</p>
        <hr />
        <a class="btn btn-secondary" href="@Url.Action("Index", "Posts")">Back to Posts</a>
    </div>
</div>